<h1>Railsn00bs</h1>

<div class="navigation-link">
  <%= link_to(
    'Join the Railn00bs slack community!',
    'https://railsn00bs-slack.herokuapp.com/'
    )
  %>
</div>


<div class="navigation-link">
  <%= link_to(
    'Check out the Railn00bs community projects',
    'https://railsn00bs-wall.herokuapp.com/'
    )
  %>
</div>

