// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Helvetica';
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

header {
  background: url('rubyrails') no-repeat center;
  margin: 0 0 2.5% 0;
  padding: 10%;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px #FFF, -2px -3px 40px #FFF, 2px 3px 10px #FFF;
}

.navigation-link {
  margin: 7px;
}

.navigation-link a:hover {
  color: #99F;
}

.upcoming {
  position: absolute;
  top: 0px;
  left: 0px;

  padding: 20px;
  margin: 10px;

  background: #639;
  color: white;
  border-radius: 10px;

  .title {
    font-size: 1.3em;
    margin: 8px;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: lighten(#639, 30%)
  }
}
